<section class="content">
  <div class="wrapper">
<h1 align="center">Mua Hang</h1>
<table id="example" class="display responsive nowrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Tình trạng</th>
      <th>Ngày đơn hàng</th>
      <th>Số đơn hàng</th>
      <th>Ngày giao hàng</th>
      <th>Nhà cung cấp</th>
      <th>Số tiền</th>
    </tr>
  </thead>
  <tbody>
      <tr>
          <td>Tiger</td>
          <td>Nixon</td>
          <td>System Architect</td>
          <td>Edinburgh</td>
          <td>61</td>
          <td>2011/04/25</td>
      </tr>
  </tbody>
</table>
</div>
</section>