      <!-- BEGIN .footer -->
      <footer class="footer">
        
        <!-- BEGIN .footer-copyright -->
        <div class="footer-copyright">
          <!-- BEGIN .wrapper -->
          <div class="wrapper">

            <ul class="load-responsive" rel="Footer">
              <li><a href="index-2.html">Homepage</a></li>
              <li><a href="blog.html">Blog page</a></li>
              <li><a href="photo-gallery.html">Photo Gallery</a></li>
              <li><a href="archive.html">Archive</a></li>
              <li><a href="contact-us.html">Contact us</a></li>
            </ul>
          
            <p>&copy; Copyright <strong>Sendigo</strong> 2015, designed by <strong><a href="http://orange-themes.com/" target="_blank">Orange-Themes.com</a></strong></p>
          
          <!-- END .wrapper -->
          </div>
        <!-- END .footer-copyright -->
        </div>
        
      <!-- END .footer -->
      </footer>
      
    <!-- END .boxed -->

    <!-- Scripts -->

  <!-- END body -->
  </body>
<!-- END html -->
</html>